@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

//variables
//fonts
$fontOne:'Roboto';
$fontTwo:'Lato';
$fontThree:'Poppins';
//colors
$colorOne: hsl(251, 33%, 67%);
$colorTwo:hsl(227, 31%, 38%);
$colorThree:hsl(218, 72%, 67%);
$colorFour:hsl(228, 61%, 53%);
$colorFive:hsl(340, 13%, 77%);


*,
::before,
::after {
  padding: 0;
  margin: 0;
  letter-spacing: 1px;
  box-sizing: border-box;
  font-family: $fontThree, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
  scroll-behavior: smooth;
  transition: All .5s;
  color: white;
}



.monospaced {
  font-family: 'Lato', monospace;
}

.primaryColor {
  color: darken($color: $colorThree, $amount: 5)
}

body {
  background-color: darken($color: $colorTwo, $amount: 5);
}


nav {
  padding: .5rem;
  width: 100%;
  justify-content: space-around;

  h2 {
    display: inline-block;
  }

  ul {
    display: flex;
    align-items: center;

    li {
      list-style: none;
      padding: 0.1rem .6rem;

      &:hover {
        background-color: darken($color: $colorThree, $amount: 15);
        border-radius: 999px;
      }

      a {
        text-decoration: none;

      }
    }
  }
}

.border {
  border: 1px solid black;
}

a {
  text-decoration: none;
}

.img-box {
  background-image: url('./assets/subject.jpg');
  background-size: contain;
}

header {
  width: 100vw;
  min-height: 80vh;

  .right {
    background: hsl(233, 27%, 37%);
    border-bottom-left-radius: 2rem;
  }

  .hireme {
    width: 100%;
    padding: 1rem;
    transform: rotate(270deg);
    transform-origin: 10 10;
    background-color: $colorThree;
    @media screen and (max-width:450px) {
      transform: rotate(0deg);
      transform-origin: 0 0;
    }
  }

  .hiremeBtn {
    background-color: lighten($color: $colorThree, $amount: 8);
  }

  .resumeBtn {
    background-color: lighten($color: $colorTwo, $amount: 15);
    color: $colorOne;
  }

  article {
    margin-left: 4rem;

    p {
      width: 70%;
      font-weight: lighter;

    }

    h1 {
      font-size: 48px;
      font-weight: bolder;
      font-family: Poppins;
    }
  }

  button {
    border: none;
    padding: .5rem 1rem;
    margin: 1rem 0;
    border-radius: .1rem;
  }
}


#about {
  min-height: 90vh;
  padding: 4em 2rem;

  article {
    padding: 0 2em;
  }
}

#skills {
  min-height: 80vh;

  article {
    background-color: darken($color: $colorTwo, $amount: 8);
    height: fit-content;
    margin: 0 1rem;
    padding: 1rem;
    border-radius: 1rem;

    @media screen and (min-width:1200px) {
      margin: 0 15%;
    }
  }

  .skill-card {
    padding: 0 2rem;

    .img {
      background-image: url('./assets/subject.jpg');
      background-size: contain;
      height: 200px;
      padding: 1rem 0;
    }

    h3 {
      padding: 0.7rem 0;
    }

    p {
      padding: 0 0 1rem 0;
      font-size: small;
    }
  }
}

#say-Hello {
  margin: 1rem 0;
  height: 200px;

  .left-section {
    padding: .5rem 2rem;

    .img {
      width: 100%;
      height: 100px;
      background-image: url('./assets/subject.jpg');
      background-size: contain;
    }
    // @media screen and (min-width:1200px) {
    //   margin: 1rem 15%;
    // }
  }

  .right-section {
    width: 50%;
    display: grid;
    place-items: center;

    div {
      display: grid;
      place-items: center;
    }

    h3 {
      padding: 1.5rem 0;
    }

    ul {
      display: flex;

      li {
        list-style: none;

        a {
          text-decoration: none;
          padding: 0 2rem;
        }
      }
    }
  }
}

.section-title {
  margin-bottom: 2rem;
  h4 {
    font-size: small;
    font-weight: lighter;
  }

  h2 {
    font-weight: bolder;
  }
  p {
    margin: 1rem 0;
    font-size: small;
  }
}
.quote {
  font-style: italic;
  font-family: $fontTwo;
  padding: 1rem 0;
}

#experience {
  margin: 4em 2rem;
  padding: 1rem 0;

  .list {
    padding: 1.5rem 2rem;
    background-color: $colorTwo;
    border-radius: .5rem;
    margin: 1rem 0;
    .experience-card {
      margin: .5rem 0;
      h2,
      p {
        padding-left: 1rem;
        margin: 0.3rem 0;
        font-weight: lighter;
        font-size: small;
      }
      h2{
        font-size: large;
      }

      &:not(:last-child) .title {
        &::after{
          content: '';
          display: block;
          background-color: $colorOne;
          position: absolute;
          top:50%;
          left:100%;
          width:100px;
          height: 2px;
          @media screen and (max-width:450px) {
            left:0;
            width:2px;
            height:200px;
          }
        }
      }

      .title {
        border: none;
        padding: .3rem 1rem;
        border-radius: .8rem;
        background-color: $colorOne;
        font-weight: lighter;
        width:90%;
        position: relative;
      }

    }

  }

  @media screen and (min-width:1200px) {
    margin: 4em 15%;
  }
}


#portfolio {
  padding:0 2rem;
  .project-card {
    .card {
      padding: 1.5rem 1rem;
      margin:0.5rem;
      border-radius: .3rem;
      background-color: $colorTwo;
      h2{
        font-weight: lighter;
      }
      p{
        padding:1rem 0;
        font-weight: lighter;
        font-size: smaller;
      }
      .img {
        height: 100%;
        width: 100%;
        background-image: url('./assets/subject.jpg');
        background-size: contain;
      }
    }
  }
  @media screen and (min-width:1200px) {
    margin: 4em 12%;
  }
}

#testimonial {
  margin: 4em 0;
  padding: 2rem ;
  background-color: darken($color: $colorTwo, $amount: 8);
  .right {
    padding: 0 2rem;
  }
  @media screen and (min-width:1200px) {
    padding: 4em 15%;
  }
}

footer {
  .letstryme {
    display: grid;
    place-items: center;
    padding: 4rem;

    h1 {
      font-weight: bolder;
      font-size: 30px;
    }

    // ul {
    //   display: inline-flex;
    //   float: left;

    //   // li {
    //   //   list-style: none;
    //   //   // a {
    //   //   //   text-decoration: none;
    //   //   //   color: black;
    //   //   // }
    //   // }
    // }
  }
}